.chat-page {
    flex: 1;
    --match-height: 100px;
    --button-color: #4CAF50;
    --hover-coler: #1C6F20;
    --border-color: #dddddd;
    /*background-color: #E7E7E7;*/
    max-width: 1200px;
    margin: auto;
}

.match-section {
    padding: 1px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 100px;
    border-bottom: 1px solid var(--border-color);
}

.chat-profile {
    padding: 10px;
    display: flex;
}

.chat-profile img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 2px;
}

.Profile-name {
    margin-top: auto;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

.Match-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Match-button button {
    color: white;
    border: none;
    border-radius: 20px;
    width: 80px;
    height: 80px;
    font-weight: bold;
    margin: 2px;
}
.Activated-button {
    background-color: var(--button-color);
    cursor: pointer;
}
.Activated-button:hover {
    background-color: var(--hover-coler);
}
.Unactivated-button {
    background-color: #D0D0D0;
}

.chat-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: calc(100vh - 247px);
    overflow: auto;
}

.chat {
    display: flex;
    margin: 10px;
    font-weight: bold;
    align-content: center;
}

.chat div {
    max-width: 80%;
    padding: 10px 15px;
    border-radius: 10px;
    display: inline-block;
}
.chat span {
}

.Mine {
    background-color: #FFCA00;
    color: #333;
    margin-left: auto;
}

.Them {
    background-color: #5CBF60;
    color: #333;
    float: left;
}

.translate-text {
    color: blue;
    border-top: 1px solid #777777;
}

.translate-open {
    width: 20px;
    height: 20px;
    color: #777777;
    margin: auto 5px;
}

.input-section {
    flex: 1;
    border-top: 1px solid var(--border-color);
}
.input-content {
    border: 1px solid var(--border-color);
    /*background-color: #D0D0D0;*/
    display: flex;
    bottom: 0;
    border-radius: 20px;
    margin: 5px 5px 5px 5px;
    padding: 5px;
}
.input-box {
    flex : 1 0 auto;
    border: none;
    outline: none;
    font-size: 18px;
}

.input-section button {
    background-color: var(--button-color);
    color: #fff;
    border: none;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px;
}

.input-section button:hover {
    background-color: var(--hover-coler);
}