button {
    height: 30px;
    width: 60px;
    margin: 5px;
    border: none;
    position: relative;
    float: right;
    border-radius: 20px;
    color: white;
}
.Edit {
    background-color: #a0886b;
    margin-right: 50px;
}

.Report {
    background-color: indianred;
    margin-right: 50px;
}

.Image-back-container {
    width: 100%; /* 가로를 화면에 꽉 차게 */
    max-height: 400px; /* 세로 높이 제한 (예: 500px) */
    min-height: 150px;
    overflow: hidden; /* 이미지가 컨테이너보다 클 경우 잘라내기 */
    border-bottom: 1px solid black;
}

.Image-back {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Content-container {
    margin-left: 50px;
    margin-right: 50px;
    background-color: #fff;
    max-width: 1200px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Profile-container {
    width: 200px;
    margin-top: -150px;
}

.Image-prof-container {
    height: 200px;
    width: 200px;
    background-color: wheat;
    border-radius: 20px;
}

.Image-prof {
    height: 100%;
    width: 100%;
    border: 10px #61dafb;
}

.Profile-content {
    text-align: left;
}

.Main-content {
}

.Context {
    padding: 10px;
    width: 300px;
    background-color: #D0D0D0;
}

.Inform {
    margin-left: 100px;
    margin-right: 100px;
    background-color: #D0D0D0;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 20px;
}
.Inform-block {
    height: 50px;
    width: 150px;
}

