.report-modal {
    display: flex;
    flex-direction: column;
}

.report-modal input {
    padding: 10px;
    margin-bottom: 10px;
    font: inherit;
}
.report-modal input:focus {
    border-color: #4CAF50;
    outline: none;
}
.report-modal input[type='text'] {
    width: 100%;
    box-sizing: border-box;
}
.report-modal textarea {
    border-color: #505050;
    font: inherit;
    font-size: 12pt;
    box-sizing: border-box;
    min-height: 80px;
}
.report-modal textarea:focus {
    border-color: #4CAF50;
    outline: none;
}

.radio-container {
    display: flex;
    flex-direction: column;
}

.report-modal-button {
    background-color: #6AB24F;
    color: #FFFFFF;
    font-size: 18px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    text-align: center;
}
.report-modal-button:hover {
    background-color: #1C6F20;
}