/* 회원가입 페이지 스타일 */
.signup-page {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: #FFFFFF;
}

/* 메인 로고 */
.main-logo {
    width: 150px;
    height: 150px;
    background-image: url('../public/UNI_Logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* 회원가입 제목 */
.signup-title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    color: #000000;
}

/* 사용자 유형 선택 */
.user-type {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.user-type label {
    font-size: 16px;
    color: #000000;
    cursor: pointer;
}

/* 입력 필드 스타일 */
.input-field {
    width: 100%;
    max-width: 400px;
    height: 45px;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    color: #000000;
    border: 1px solid #D8DADC;
    border-radius: 5px;
    box-sizing: border-box;
}

/* react-select 스타일 */
.select-field {
    width: 100%;
    max-width: 400px;
    margin-top: 10px;
    font-size: 16px;
    color: #000000;
}

/* 인증 버튼 */
.verify-button {
    background-color: #FFBA00;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    height: 45px;
    align-self: flex-end;
}

/* 회원가입 버튼 */
.signup-button {
    width: 100%;
    max-width: 400px;
    background-color: #6AB24F;
    color: #FFFFFF;
    font-size: 16px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
}

/* 하단 링크 */
.bottom-link {
    font-size: 14px;
    color: #777777;
    margin-top: 20px;
    text-align: center;
}

/* 드롭다운 메뉴 스타일 */
.dropdown-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
    max-width: 400px;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

/* 모바일 (화면 너비가 480px 이하일 때) */
@media (max-width: 480px) {
    /* 페이지 레이아웃 조정 */
    .signup-page {
        padding: 10px;
    }

    .signup-title {
        font-size: 24px;
        text-align: center;
    }

    .user-type {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .input-field, .signup-button {
        max-width: 100%;
    }

    /* 버튼 크기 및 정렬 */
    .verify-button {
        align-self: center;
        width: 100%;
        max-width: 200px;
    }

    /* 하단 링크 정렬 */
    .bottom-link {
        font-size: 12px;
        margin-top: 15px;
        text-align: center;
    }
}
