.Complete {
    height: 30px;
    width: 60px;
    border: none;
    position: relative;
    float: right;
    border-radius: 20px;
    color: white;
    background-color: #a0886b;
    margin-right: 50px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.Complete:hover {
    background-color: #70583b;
}

.Image-back-container {
    width: 100%;
    max-height: 400px;
    min-height: 150px;
    overflow: hidden;
    border-bottom: 1px solid black;
}

.Image-back {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Content-container {
    margin-left: 50px;
    margin-right: 50px;
    background-color: #fff;
    max-width: 1200px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Profile-container {
    width: 200px;
    margin-top: -150px;
}
.Profile-container input {
    max-width: 100%;
    font-size: 12pt;
}

.Image-prof-container {
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}

.Image-prof {
    height: 100%;
    width: 100%;
    border: 10px #61dafb;
}

.Profile-content {
    /*text-align: left;*/
}

.Hashtag-section {
    display: flex; /* 아이템을 가로로 정렬 */
    flex-wrap: wrap;
}
.Hashtag {
    display: inline-block;
    max-width: max-content;
    margin: 2px;
    padding: 2px;
    border-radius: 10px;
    background-color: aquamarine;
    word-break:break-all;
}
.Basic {
    background-color: #4CCF90;
    cursor: pointer;
}
.Hashtag button {
    border: none;
    cursor: pointer;
    background-color: inherit;
}

.Map-section {
    text-align: center;
    width: 300px;
    margin-top: 40px;
}
.Map-container {
    width: 100%;
    height: 300px;
}
.Map-section input {
    width: 100%;
    font-size: 12pt;
}
.Map-section button {
    width: 50%;
}

.SelfPR {
    text-align: center;
    width: 300px;
    margin-top: 40px;
}

.Explain {
    width: 100%;
    height: 300px;
    text-align: left;
    flex : 1 0 auto;
}