.edit-container {
    max-width: 1200px;
    align-content: center;
    margin: auto auto 50px;
}
.complete-button {
    color: #ffffff;
    background-color: #a0886b;
    cursor: pointer;
}
.complete-button:hover {
    background-color: #70583b;
}

.hashtag-section {
    display: flex; /* 아이템을 가로로 정렬 */
    flex-wrap: wrap;
}
.hashtag-input {
    border: 1px solid #505050;
    display: flex;
    border-radius: 3px;
}
.hashtag-input input{
    border: none;
    width: auto;
    margin: auto;
    box-sizing: border-box;
}
.hashtag-input button{
    background-color: #6AB24F;
    color: #FFFFFF;
    font-size: 12px;
    padding: 1px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin: 2px;
}
.hashtag-item {
    display: inline-block;
    max-width: max-content;
    margin: 2px;
    padding: 2px;
    border-radius: 10px;
    border-color: #4CAF50;
    word-break:break-all;
}
.basic-hashtag {
    background-color: #4CCF90;
    cursor: pointer;
}
.hashtag-item button {
    border: none;
    cursor: pointer;
    background-color: inherit;
}

.edit-button {
    background-color: #6AB24F;
    color: #FFFFFF;
    font-size: 18px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    text-align: center;
}

.image-edit-prof-container {
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius: 20px;
    margin: auto;
    border: 1px solid #6AB24F;
    overflow: hidden;
}
.image-edit-back-container {
    height: 200px;
    background-color: white;
    border: 1px solid #6AB24F;
    overflow: hidden;
}

.edit-map-container {
    width: 100%;
    height: 300px;
}
.edit-select button{
    width: 50%;
    background-color: #6AB24F;
    color: #FFFFFF;
    font-size: 15px;
    padding: 6px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    text-align: center;
    box-sizing: border-box;
}
.edit-select button:hover {
    background-color: #1C6F20;
}